.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pt
!previous_weights/
!previous_weights/*.pt
runs/
.DS_Store
.idea/
.pytest_cache/
*.egg-info/
/yolo_dataset/
/yolo_dataset_old/
/data
!/demo_videos/
!/demo_videos/*.mp4
eval_results.json
/Safe and Unsafe Behaviours Dataset